@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
* {
    margin: auto;
    padding: auto;
}
h2 {
    font-family: 'Oswald';
    font-size: 28px;
    font-weight: bold;
}
body {
    font-family: 'Oswald';
    font-size: 22px;
}
.btn{
    font-family: 'Oswald';
    font-size: 20px;
}